<div id="wrapper">
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/dashboard">Dashhboard</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="product">Products</a></li>
      <li><a routerLink="orders">Orders</a></li>
      <li><a routerLink="addresses">Addresses</a></li>
      <li><a routerLink="supplers">Supplers</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/login" (click)="logout()"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
</div>
